*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    border-bottom: 1px solid #000;
    z-index: 10;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}
.nav-btn{
    background: #000;
    color: #fff;
    font-size: 16px;
    padding: 15px 25px;
    border: 0;
    outline: 0;
    border-radius: 40px;
    cursor: pointer;
}
.header{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#eefff9 0%, #ffccc1 49%, #dcdbff 100%);
    padding: 0 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header h1{
    margin-top: 100px;
    font-size: 13vw;
    line-height: 11vw;
}
.btn-container{
    margin: 20px 0;
}
.header button{
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
}
.btn-dark{
    background: #000;
    color: #fff;
    padding: 3px 5px 5px 30px;
    border-radius: 40px;
}
.btn-dark i{
    width: 40px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 8px;
    font-size: 15px;
}
.btn-light{
    background: transparent;
    text-decoration: underline;
}
.btn-light i{
    width: 20px;
    margin-left: 5px;
}
.header p{
    max-width: 360px;
    font-weight: 500;
}
.user-img{
    width: 80%;
    max-width: 500px;
    position: absolute;
    margin-bottom: 10px;
    right: 5%;
    bottom: 0;
}

.header h1 span{
    background: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0%;
}
.header h1 span:first-child{
    animation: textcolor1 3s linear infinite alternate;
}
.header h1 span:last-child{
    animation: textcolor2 3s linear infinite alternate;
}
@keyframes textcolor1 {
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 100%;
    }
    100%{
        background-size: 100%;
    }
}
@keyframes textcolor2 {
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 0%;
    }
    100%{
        background-size: 100%;
    } 
}

@media only screen and (max-width:600px){
    nav ul{
    position: absolute;
    width: 100%;
    background: #000;
    color: #fff;
    top: 100%;
    left: 0;
    display: flex;
    text-align: center;
    }
    .nav-btn{
        display: none;
    }
    nav ul li{
        margin: 17px;
        font-size: 15px;
    }
    .header{
        min-height: auto;
        padding: 0;
    }
    .user-img{
        width: 80%;
        right: auto;
        position: relative;
        margin-top: 100px;
    }
    .header-content{
        position: absolute;
        bottom: 0;
        padding: 50% 10%;
        z-index: 2;
        padding-bottom: 100px;
        background: linear-gradient(transparent, #b49f9f);
    }
    .btn-container{
        margin: 5px 0;
    }
    .header button{
        font-size: 14px;
        margin-right: 10px;
    }
    .btn-dark{
        padding: 7px 7px 7px 20px;
        margin-bottom: 10px;
    }
    .header h1{
        font-size: 70px;
        line-height: 60px;
        margin-bottom: 30px;
    }
    .header p{
       margin-top: 20px;
    }
}